<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <meta charset="UTF-8" />
        <title>Wepa</title>
    </head>
    <body>
        
        <center>

            <h1>kuvapalvelu</h1>
            <h2 th:if="${count > 0}">(<span th:text="${count}">count</span> kuvaa)</h2>

        <br/>
        
        <div th:if="${current != null}"><center>
            <a th:href="@{/kuvat/kuva/{id}(id=${current})}"><img th:src="@{/kuvat/{id}/content(id=${current})}" width="350px"/></a>
            
            <br/>
     
            <table>
                <tr>
        <td th:if="${previous != null}" id="next">
            <a th:href="@{/kuvat/{id}(id=${previous})}">Previous</a>
        </td>

        <td th:if="${next != null}" id="next">
            <a th:href="@{/kuvat/{id}(id=${next})}">Next</a>
        </td>
                </tr>
            </table>
            </center></div>
        
        <br/>
        
        <h2>lisää uusi kuva</h2>

        <div>
        <form method="POST" action="/kuvat" enctype="multipart/form-data">
            <input type="file" name="file" id="file"/>
            <input type="submit" value="Lisää"/>
        </form>
        </div>
        
        </center>
        
    </body>
</html>
