<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <meta charset="UTF-8" />
        <title>Kuva</title>
    </head>
    <body>
        <center>
           
        <h1>Kuva</h1>
        
        <br/>
        
        <div><center>
            <img th:src="@{/kuvat/{id}/content(id=${current})}" width="400px"/>
            </center></div>

            <!--<span th:text="${tunniste.nimi}">tunnisteet</span>-->

        <br/>
        
        <div>
            <a href="">tägi</a>, <a href="">tunniste</a>, <a href="">tag2</a>
            
            <br/>
            
            <!--<span th:text="${tykkays}">tykkäykset</span>-->
            <span style="font-size: 20px">&hearts;</span> <span style="font-weight: bold"> &nbsp;3</span> 
        </div>
        
        
        <br/>
        
        <h2>kommentit</h2>
        
        <div>
<!--            <table width="650px"> 
                <tr th:each="kommentti: ${kommentit}">
                    <td width="100px" style="color: #14a8c7" th:text="${kommentti.getLahettaja()}">Meitsi</td>
                    <td width="400px" th:text="${kommentti.getTeksti()}">Tosi kiva kuva! Tykkään :):)</td>
                    <td width="50px" th:text="${kommentti.getLahetysaika()}">14.12.2016 12:30</td>
                </tr>
            </table>  -->
            <table width="670px"> 
                <tr>
                    <td width="70px">Meitsi</td>
                    <td width="450px">Tosi kiva kuva! Tykkään :):)</td>
                    <td width="120px">14.12.2016 12:30</td>
                </tr>
                
                <tr>
                    <td width="70px">Minä</td>
                    <td width="450px">Joo tosi cool on</td>
                    <td width="120px">14.12.2016 12:33</td>
                </tr>
            </table>  
        </div>
        
        <br/>
        
        <a th:href="@{~/kuvat}">Takaisin listaukseen</a>
        
        
        </center>
    </body>
</html>
