<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <meta charset="UTF-8" />
        <title>Kuvapalvelu</title>
    </head>
    
    <body>
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>


        <center>
            <h1><span th:text="${count}">count</span> kuvaa</h1>

            <div>
                <center>
                    <ul>
                        <li th:each="kuva : ${kuvat}">
                            <a th:href="@{/pics/{id}(id=${kuva.id})}"><img th:src="@{/pics/{id}/content(id=${kuva.id})}" alt=""/></a>
                        </li>
                    </ul>


                    <h2>lisää uusi kuva</h2>

                    <form method="POST" action="/pics" enctype="multipart/form-data">
                        <input type="file" name="file" id="file"/>
                        <input type="submit" value="Lisää"/>
                    </form>
                </center>
            </div>
        </center>
    </body>
</html>
