<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <meta charset="UTF-8" />
        <title>Wepa</title>
    </head>
    <body>
        <h2>Kuvapalvelu: (<span th:text="${count}">count</span> images)</h2>
        
        <ul>
            <li th:each="kuva : ${kuvat}">
                <img th:src="@{/pics/{id}/content(id=${kuva.id})}"/>
                <a th:href ="@{/pics/{id}(id=${kuva.id})}">linkki</a>
            </li>
        </ul>
        
<!--        <div th:if="${current != null}">
            <h2>Comments</h2>
            <h4>Post one!</h4>
            <form th:action="@{/pics/{id}(id=${current})}" th:method="POST">
                <input type="text" name="sisalto"></input>
                <input type="submit" value="Add!" />
            </form>

            <ul>
                <li th:each="kommentti : ${comments}">
                    <span th:text="${kommentti.sisalto}">comment here</span> -
                    <span th:text="${kommentti.kayttaja.username}"> username</span>
                    <form th:action="@{/pics/{id}/{kommenttiId}(id=${current}, kommenttiId=${kommentti.id})}" th:method="DELETE">
                        <input type="submit" value="Remove" />
                    </form>
                </li>
            </ul>
        </div>-->
        
        <h2>lisää uusi kuva</h2>

        <div>
        <form method="POST" action="/pics" enctype="multipart/form-data">
            <input type="file" name="file" id="file"/>
            <input type="submit" value="Lisää"/>
        </form>
        </div>
        
    </body>
</html>
