<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Wepa</title>
    </head>
    <body>

        <h2>Wepa (<span th:text="${count}">count</span> images)</h2>
        
        <ul>
            <li th:each="kuva : ${kuvat}">
                <img th:src="@{/pics/{id}/content(id=${kuva.id})}"/>
            </li>
        </ul>

        <h2>Add new content</h2>

        <form method="POST" action="/pics" enctype="multipart/form-data">
            <input type="file" name="file" id="file"/>
            <input type="submit" value="Lisää!"/>
        </form>
    </body>
</html>
