<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <meta charset="UTF-8" />
        <title>Register</title>
    </head>
    <body><center>
            <div class="sign-in-box">
                <center>
                    <h2>Create an account</h2>
                    <form method="POST" th:action="@{/kayttajat}" th:object="${kayttaja}">

                        <input type="text" name="username" id="username" th:field="*{username}" placeholder="Username" />
                        <br/>
                        <p th:if="${#fields.hasErrors('username')}" th:errors='*{username}'></p>

                        <input type="password" name="password" id="password" th:field="*{password}" placeholder="Password" />
                        <br/>
                        <p th:if="${#fields.hasErrors('password')}" th:errors='*{password}'></p>
                        <br/>
                        
                        <input type="submit" value="Create account" />
                    </form>


                </center></div>
        </center>
    </body>
</html>
