<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <meta charset="UTF-8" />
        <title>Register</title>
    </head>
    <body><center>
        <div class="sign-in-box">
            <center>
            <h2>Create an account</h2>
            <form method="POST" th:action="@{/kayttajat}" th:object="${kayttaja}">
                
                    <span class="text-box">
                        <label class="s-user"></label>
                        <input type="text" name="username" placeholder="Username" />
                        <br/>
                    </span>
                    <span class="text-box">
                        <label class="s-lock"></label>
                        <input type="password" name="password" placeholder="Password" />
                        <br/>
                    </span>
                <br/>
                <input type="submit" value="Create account" />
            </form>
            
                
            </center></div>
        </center>
    </body>
</html>
