<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" mlns:sec="http://www.springframework.org/security/tags">>
    <head lang="en">
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <meta charset="UTF-8" />
        <title>Kuvapalvelu</title>
    </head>
    
    <body>
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

        <center>
            <h1>Tunnisteet</h1>

            <div>
                <ul>
                    <li th:each="tunniste : ${tunnisteet}">
                        <a th:href ="@{/tunnisteet/{tunnisteId}(tunnisteId=${tunniste.id})}" th:text="${tunniste.nimi}"> tunniste </a>
                        <form sec:authorize="hasAuthority('ADMIN')" th:action="@{/tunnisteet/{tunnisteId}(tunnisteId=${tunniste.id})}" th:method="DELETE">
                            <input type="submit" value="Poista" />
                        </form>

                    </li>
                </ul>

                <h2>Lisää uusi tunniste</h2>

                <form method="POST" th:action="@{/tunnisteet}" th:object="${tunniste}" id="tunnistelomake">
                    <input type="text" name="nimi" id="nimi"/>
                    <p th:if="${#fields.hasErrors('nimi')}" th:errors='*{nimi}'></p>
                    <input type="submit" value="Lisää"/>
                </form>

                <br/>
                <a th:href="@{~/pics}">Takaisin</a>

            </div>
        </center>
    </body>
</html>
