<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <meta charset="UTF-8" />
        <title>Wepa</title>
    </head>
    <body>
        <h2>Kuvapalvelu - tunnisteet</h2>
        
        <ul>
            <li th:each="tunniste : ${tunnisteet}">
                <span th:text="${tunniste.nimi}"/>
                <a th:href ="@{/pics/{id}(id=${tunniste.id})}" />
            </li>
        </ul>
        
        <h2>lisää uusi tunniste</h2>

        <div>
        <form method="POST" action="/tunnisteet">
            <input type="text" name="nimi"/>
            <input type="submit" value="Lisää"/>
        </form>
        </div>
        
    </body>
</html>
